spring:
  application:
    name: spring-batch-demo

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5437/dataflow}
    username: user                             
    password: password
    driver-class-name: org.postgresql.Driver
  
  main:
    web-application-type: none
  
  cloud:
    task:
      tablePrefix: boot3_task_   # <-- Đảm bảo chữ thường
      initialize-enabled: false  # (Nên tắt, SCDF quản lý)
      
  batch:
    jdbc:
      table-prefix: boot3_batch_ # <-- Đảm bảo chữ thường
      initialize-schema: never   # (Nên đổi thành never vì schema đã tồn tại)

batch:
  chunk-size: 100
  partition-size: 4
  input-file: data/input/customers.csv
  output-table: customer
  
logging:
  level:
    org.springframework.batch: DEBUG
    org.springframework.cloud.task: DEBUG
    com.demo: DEBUG

server:
  port: 8080